<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User Profile</title>

    <!-----------Google fonts link-------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet">
    <!-----------Google fonts link-------->

    <!-------Font awesome link------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-------Font awesome link------>

    <!-----CSS Links----->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/profile.css">
    <!-----CSS Links----->
  
</head>
<body>

    <!---Header----->
    <%- include('../includes/header.ejs') %>
    <!---Header----->

    <!----Profile----->
     <div class="profile-container">

        <div class="user-info">
            <img src="<%=user.profilePic%>" alt="profilePic" class="profile-pic">
            <h2>Full Name: <%=user.fullname%></h2> <br/>
            
            <p><i class="fa-solid fa-envelope"></i> <%=user.email%></p> <br/>
            <p><i class="fa-solid fa-user"></i> <%=user.username%></p> <br/>
            <p><i class="fa-solid fa-heart"></i> <%=user.interests%></p> <br/>
        </div>

         <div class="user-posts">
            <h3><%= user.username %>'s Posts</h3>

            <% if(post.length === 0){ %>
                <p>This user hasn't posted anything yet!!</p>
            <% } else { %>
                <%post.forEach(post =>{ %>
                    <a href="/posts/<%=post._id%>" class="post-link">
                        <div class="post-card">
                            <img src="<%=post.image%>" class="post-image"> <br/><br/>
                            <div class="post-content">
                                <p><%=post.content%></p>
                            </div>
                        </div>
                    </a>
                <%}) %>
            <% } %>
        </div>

    </div> 
    <!----Profile----->

    <!--------Footer------------>
    <%- include('../includes/footer.ejs') %>
    <!-----------Footer--------->



 <!--Hamburger Icon-->
    <script>
    const hamburger = document.getElementById("hamburger");
    const menu = document.getElementById("showmenu");
    const overlay = document.getElementById("overlay");

    function toggleMenu() {
        menu.classList.toggle("show");
        overlay.classList.toggle("active"); 
    }

    hamburger.addEventListener("click", toggleMenu);
    overlay.addEventListener("click", toggleMenu);
    </script>
<!--Hamburger Icon-->

</body>
</html>